
<app-header></app-header>

<div class="mt-4">
    <p-card>
        
        <div> <img [src]="employee.img" alt="empleado" style="width: 100px;"></div>
        {{employee.firstName}}
        {{employee.employeeJob.area_id}}
        {{employee.id}}
        Pulsa para volver al <a href="#prueba">Inicio</a>
</p-card>   

</div>

<div class=" flex div bg-purple-500">   
 
</div>

<div  class="div bg-primary">
    <div class="span">
        <h2 id="prueba1">aca</h2>
       
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam aut ipsum veritatis, maxime fuga quam quod ratione totam explicabo quia iusto. Rem sed voluptates deleniti est officia libero possimus sit.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore modi necessitatibus ipsa sed molestiae ipsum dolore impedit, quibusdam repudiandae libero facere rerum nisi placeat atque adipisci dolores iste suscipit autem!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis magni perspiciatis illum expedita quae quod eius quas maxime non. Non hic soluta, doloribus maiores exercitationem animi tempora! Architecto, voluptatem nostrum!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quaerat pariatur accusamus doloribus dolores beatae numquam voluptas laborum, deleniti exercitationem quas inventore, recusandae veritatis eum aliquam. Accusantium atque iure voluptas?
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum distinctio tempora rerum ex nemo, alias dolorum ipsam. Cumque recusandae dolores obcaecati ad incidunt deserunt nobis rerum laudantium, maxime itaque delectus!
    </div>
</div>
<section id="prueba" class="div bg-primary">
    <div class="span">
       
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam aut ipsum veritatis, maxime fuga quam quod ratione totam explicabo quia iusto. Rem sed voluptates deleniti est officia libero possimus sit.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore modi necessitatibus ipsa sed molestiae ipsum dolore impedit, quibusdam repudiandae libero facere rerum nisi placeat atque adipisci dolores iste suscipit autem!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis magni perspiciatis illum expedita quae quod eius quas maxime non. Non hic soluta, doloribus maiores exercitationem animi tempora! Architecto, voluptatem nostrum!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quaerat pariatur accusamus doloribus dolores beatae numquam voluptas laborum, deleniti exercitationem quas inventore, recusandae veritatis eum aliquam. Accusantium atque iure voluptas?
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum distinctio tempora rerum ex nemo, alias dolorum ipsam. Cumque recusandae dolores obcaecati ad incidunt deserunt nobis rerum laudantium, maxime itaque delectus!
    </div>
</section>

<div iclass="div bg-primary">
    <div class="span">
       <h1 d="prueba44">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam aut ipsum veritatis, maxime fuga quam quod ratione totam explicabo quia iusto. Rem sed voluptates deleniti est officia libero possimus sit.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore modi necessitatibus ipsa sed molestiae ipsum dolore impedit, quibusdam repudiandae libero facere rerum nisi placeat atque adipisci dolores iste suscipit autem!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis magni perspiciatis illum expedita quae quod eius quas maxime non. Non hic soluta, doloribus maiores exercitationem animi tempora! Architecto, voluptatem nostrum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quaerat pariatur accusamus doloribus dolores beatae numquam voluptas laborum, deleniti exercitationem quas inventore, recusandae veritatis eum aliquam. Accusantium atque iure voluptas?
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum distinctio tempora rerum ex nemo, alias dolorum ipsam. Cumque recusandae dolores obcaecati ad incidunt deserunt nobis rerum laudantium, maxime itaque delectus! </h1>
        
    </div>
</div>


<div id="prueba67" class="div bg-primary">
    <div class="span">
       
       hfhfh Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam aut ipsum veritatis, maxime fuga quam quod ratione totam explicabo quia iusto. Rem sed voluptates deleniti est officia libero possimus sit.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore modi necessitatibus ipsa sed molestiae ipsum dolore impedit, quibusdam repudiandae libero facere rerum nisi placeat atque adipisci dolores iste suscipit autem!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis magni perspiciatis illum expedita quae quod eius quas maxime non. Non hic soluta, doloribus maiores exercitationem animi tempora! Architecto, voluptatem nostrum!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quaerat pariatur accusamus doloribus dolores beatae numquam voluptas laborum, deleniti exercitationem quas inventore, recusandae veritatis eum aliquam. Accusantium atque iure voluptas?
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum distinctio tempora rerum ex nemo, alias dolorum ipsam. Cumque recusandae dolores obcaecati ad incidunt deserunt nobis rerum laudantium, maxime itaque delectus!
    </div>
</div>

<div id="prueba1" class="div bg-primary">
    <div class="span">
       
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam aut ipsum veritatis, maxime fuga quam quod ratione totam explicabo quia iusto. Rem sed voluptates deleniti est officia libero possimus sit.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore modi necessitatibus ipsa sed molestiae ipsum dolore impedit, quibusdam repudiandae libero facere rerum nisi placeat atque adipisci dolores iste suscipit autem!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis magni perspiciatis illum expedita quae quod eius quas maxime non. Non hic soluta, doloribus maiores exercitationem animi tempora! Architecto, voluptatem nostrum!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quaerat pariatur accusamus doloribus dolores beatae numquam voluptas laborum, deleniti exercitationem quas inventore, recusandae veritatis eum aliquam. Accusantium atque iure voluptas?
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum distinctio tempora rerum ex nemo, alias dolorum ipsam. Cumque recusandae dolores obcaecati ad incidunt deserunt nobis rerum laudantium, maxime itaque delectus!
    </div>
</div>

<div id="prueba2" class="div bg-primary">
    <div class="span">
       
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam aut ipsum veritatis, maxime fuga quam quod ratione totam explicabo quia iusto. Rem sed voluptates deleniti est officia libero possimus sit.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore modi necessitatibus ipsa sed molestiae ipsum dolore impedit, quibusdam repudiandae libero facere rerum nisi placeat atque adipisci dolores iste suscipit autem!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis magni perspiciatis illum expedita quae quod eius quas maxime non. Non hic soluta, doloribus maiores exercitationem animi tempora! Architecto, voluptatem nostrum!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quaerat pariatur accusamus doloribus dolores beatae numquam voluptas laborum, deleniti exercitationem quas inventore, recusandae veritatis eum aliquam. Accusantium atque iure voluptas?
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum distinctio tempora rerum ex nemo, alias dolorum ipsam. Cumque recusandae dolores obcaecati ad incidunt deserunt nobis rerum laudantium, maxime itaque delectus!
    </div>
</div>

   
<a name="segundo"><h1>Segundo apartado</h1></a>     
      
    
