<app-header></app-header>

<div class="card1">
  

    <p-tabView [(activeIndex)]="indexTab">
        <p-tabPanel header="Ingreso de Novedades" >

            <p-toolbar>
                <div class="p-toolbar-group-left">
                    <span class="p-input-icon-left p-mr-2">
                        <i class="pi pi-search"></i>
                    <input  #input (keyup)="buscarEmployees( input.value )" class="form-control" type="search" pInputText placeholder="Buscar Empleado..." style="width: 30rem;"> 
                </span>

                    <p-button label="Cargar Novedades Masivas" icon="pi pi-upload" class="p-mr-2"></p-button>
                    <p-button label="Descargar Prenomina" icon="pi pi-download" styleClass="p-button-success"></p-button>
                                          
                </div>
                
                <div class="p-toolbar-group-right">
                    <!-- <p-button label="Terminar Novedades" (click)="openNext()" icon="pi pi-check" styleClass="p-button-warning"></p-button> -->
                </div>
            </p-toolbar>


            <p-dataView  #dv [value]="employeeMovementsPayroll" [paginator]="true" [rows]="3" [totalRecords]="100" [rowsPerPageOptions]="[3,6,9]" filterBy="name"
            layout="grid">
                <ng-template  pTemplate="header">
                     
                
                </ng-template>
                <ng-template let-movements let-i="index" pTemplate="listItem">
                    <div class="p-col-12">
                        <div class="product-list-item">
                            <div class="product-list-detail">
                          
                                <div> <img [src]="employee.img" alt="empleado"></div>
                                <div class="product-name">{{employee.firstName}} {{employee.surname}}</div>
                                <div class="product-description">{{employee.identification}}</div>
                                <i class="pi pi-tag product-category-icon"></i><span class="product-category">{{employee.mail}}</span>
                            </div>
                            <div class="product-list-action">
                                <span class="product-price">{{employee.phone}}</span>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template  let-employeeMovementPayroll let-i="rowIndex" pTemplate="gridItem">
                    <div class="p-col-6 p-md-4">
                    <!-- <app-get-novelties [employee_id_heredado]="employeeMovementPayroll.employee_id"></app-get-novelties> -->
                        <div class="product-grid-item card1 surface-0 p-mt-4">
                            <div class="grid mt-2 m-1">

                                    <div class="p-col flex align-items-center justify-content-center">
                                        <img [src]="employeeMovementPayroll.img" alt="empleado">
                                        <span class="text-500 font-medium text-xs flex justify-content-center mt-3">Salario Base: {{employeeMovementPayroll.salary | currency:'COP':'symbol-narrow':'1.0-4'}}</span>
                                       
                                    </div> 
                                   
                                    <div class="p-col product-grid-item-content">
                                    
                                      
                                        <div class="product-name text-xl text-500">
                                            {{employeeMovementPayroll.firstName | titlecase }} {{employeeMovementPayroll.surname | titlecase}}
                                        
                                        </div>
                                        <div class="product-name text-lg text-400">{{employeeMovementPayroll.identification}}</div>
                                        <div class="product-badge product-name text-base">
                                        <p-tag styleClass="p-mr-2" severity="success" value=Gerente></p-tag>
                                        
                                        </div>
                                      

                                    </div>

                                     
                          
                            </div>
                            <hr>
 <div class="flex grid m-2">
                                    
 <div>

    <p-table>
        <ng-template pTemplate="header">
            <tr>
                <th><span class="text-right text-500 font-medium text-xs">Dias Laborados:</span></th>
                <th> <span class="text-right font-bold text-600 font-medium text-sm">{{employeeMovementPayroll.daysWork}}</span></th>
     
                <th> <button pButton pRipple type="button" (click)="showAbsentee(employeeMovementPayroll.employee_id)" label="Ausentismos" icon="pi pi-plus" class="p-button-text p-button-danger p-button-sm"></button></th>
            </tr>
        </ng-template>
     </p-table>

 </div>                                                         
 
<div class="flex">

    <p-table>
        <ng-template pTemplate="header">
            <tr>
                <th><span class="text-left text-500 font-medium text-xs">Salarial:  </span></th>
                <th><span class="text-right font-bold text-600 font-medium text-sm">{{employeeMovementPayroll.salaryValue | currency:'COP':'symbol-narrow':'1.0-4'}}  </span> </th>
                <th><button pButton pRipple type="button" (click)="show(employeeMovementPayroll.employee_id, 'SALARIAL')" label="Ingresar" icon="pi pi-plus" class="p-button-text p-button-warning p-button-sm"></button> </th>
                <th><button pButton pRipple type="button" (click)="showOverTime(employeeMovementPayroll.employee_id)" label="Hr.Extras" icon="pi pi-clock" class="p-button-text p-button-sm"></button></th>
            </tr>
        </ng-template>
     </p-table>
</div>
 

 <p-table>
    <ng-template pTemplate="header">
        <tr>
            <th><span class="text-letf text-500 font-medium text-xs">No Salarial: </span></th>
            <th><span class="text-left font-bold text-600 font-medium text-sm">{{employeeMovementPayroll.noSalaryValue | currency:'COP':'symbol-narrow':'1.0-4'}} </span></th>
            <th><button pButton pRipple type="button" (click)="show(employeeMovementPayroll.employee_id, 'NOSALARIAL')" label="Ingresar" icon="pi pi-plus" class="p-button-text p-button-warning p-button-sm"></button></th>
           
        </tr>
    </ng-template>
 </p-table>

 <p-table>
    <ng-template pTemplate="header">
        <tr>
            <th><span class="text-500 font-medium text-xs">Deducciones: </span></th>
            <th> <span class="text-600 font-bold font-medium text-sm">{{employeeMovementPayroll.deductionValue | currency:'COP':'symbol-narrow':'1.0-4'}} </span></th>
            <th><button pButton pRipple type="button" (click)="show(employeeMovementPayroll.employee_id, 'DEDUCCION')" label="Ingresar" icon="pi pi-plus" class="p-button-text p-button-warning p-button-sm"></button></th>
           
        </tr>
    </ng-template>
   </p-table>
 </div>

 <hr>

 <p-table>
    <ng-template pTemplate="header">
        <tr>
            <th class="text-center">
                <span class="text-lg font-bold text-600">Neto a Pagar: {{employeeMovementPayroll.salaryValue + employeeMovementPayroll.noSalaryValue - employeeMovementPayroll.deductionValue | currency:'COP':'symbol-narrow':'1.0-4'}} </span>
            </th>
        </tr>
    </ng-template>
   </p-table>
                            </div>
                      
                        </div>
                </ng-template>
            </p-dataView>
        </p-tabPanel>
        <p-tabPanel header="Nomina Definiva" id="tabDef">
            Content 2
        </p-tabPanel>
        
    </p-tabView>  

</div>



