

<p-menubar class="p-mr-8">
     <ng-template pTemplate="start">
        <div class="flex align-content-center flex-wrap p-mr-8">

        
            <img src="assets/images/logoletra2.png" height="40" class="p-mr-2">
            <button pButton routerLink="/dashboard" pRipple type="button" 
            
            icon="pi pi-arrow-circle-left 8rem" 
            
            class="p-button-rounded p-button-text mx-6">
        </button>
          
            <span *ngIf="company1.img"><img class="p-mr-2 flex align-content-center flex-wrap" [src]="company1.img" height="40" style="border-radius: 50%" alt="user"></span>
            <span *ngIf="!company1.img"> <img class="p-mr-2 flex align-content-center flex-wrap"src="assets/images/SIN-IMAGEN.jpg" height="40" class="p-mr-2" style="border-radius: 50%"></span>
            <span class="flex align-content-center flex-wrap mr-8">{{empresa.name}}</span>
           
        </div>
        
    </ng-template>    
 
 


    <ng-template pTemplate="end">
        <div class="flex align-content-center flex-wrap">
        <span class="flex align-content-center flex-wrap text-blue-500 p-mr-2">Bienvenido(a):</span>
        <span class="flex align-content-center flex-wrap"><p-splitButton class="flex align-content-center flex-wrap mr-2" label="{{usuario.name | titlecase}}" [model]="items" styleClass="p-button-primary"></p-splitButton></span>
<!--         <span class="flex align-content-center flex-wrap p-mr-2">{{usuario.name | titlecase}}</span> -->
        <span *ngIf="usuario.img"><img [src]="usuario.img" height="40" class="p-mr-2" style="border-radius: 50%" alt="user"></span>
        <span *ngIf="!usuario.img"> <img src="assets/images/no-image.png" height="40" class="p-mr-2" style="border-radius: 50%"></span>
        
        <p-button class="flex align-content-center flex-wrap p-mr-2" label="Logout" icon="pi pi-power-off" styleClass="p-button-link"></p-button>
    </div>
    </ng-template>
</p-menubar>




