
<app-header></app-header>
<div class="card1">
  

    <p-tabView>
        <p-tabPanel header="Activos">
            <p-dataView #dv [value]="employees" [paginator]="true" [rows]="9" filterBy="name"
            layout="grid">
                <ng-template pTemplate="header">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
                   
                        <span class="p-input-icon-left p-mb-2 p-mb-md-0" >
                            <i class="pi pi-search"></i>
                            
                            <input #input (keyup)="buscarEmployees( input.value )" class="form-control" type="search" pInputText placeholder="Buscar Empleado..." style="width: 43rem;">
                        </span> 
                        <div class="card flex justify-content-end flex-wrap">
                            <p-button class="mr-4" icon="pi pi-user-plus" pTooltip="Nuevo Empleado" tooltipPosition="bottom"></p-button>
                            <p-button class="mr-2" icon="pi pi-upload" pTooltip="Importar Empleado" tooltipPosition="bottom"></p-button>
                            <p-button icon="pi pi-download"pTooltip="Descargar Listado Empleado" tooltipPosition="bottom"></p-button>
                        </div>
                        
                        
                        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                    </div>
                </ng-template>
                <ng-template let-employee pTemplate="listItem">
                    <div class="p-col-12">
                        <div class="product-list-item">
                            <div class="product-list-detail">
                                <div> <img [src]="employee.img" alt="empleado"></div>
                                <div class="product-name">{{employee.firstName}} {{employee.surname}}</div>
                                <div class="product-description">{{employee.identification}}</div>
                                <i class="pi pi-tag product-category-icon"></i><span class="product-category">{{employee.mail}}</span>
                            </div>
                            <div class="product-list-action">
                                <span class="product-price">{{employee.phone}}</span>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template let-employee pTemplate="gridItem">
                    
                     <div class="p-col-12 p-md-4">
                         <div class="product-grid-item card1 cursor-pointer surface-0" 
                                (click)="veremployee(employee.id)" style="width: 25rem;">
                            <!-- <div class="product-grid-item-top">
                                <div>
                                    <i class="pi pi-tag product-category-icon"></i>
                                    
                                    <span class="product-category"></span>
                                    <div class="product-description"></div>
                                </div>
                               
                            </div> -->
                            <div class="product-grid-item-content">
                                <div> <img [src]="employee.img" alt="empleado"></div>
                                <div class="product-name">{{employee.firstName}} {{employee.surname}}</div>
                                <div class="product-description">{{employee.identification}}</div>
                            </div>
                            <div class="product-grid-item-bottom">
                                <!-- <span class="product-price">{{employee.email}}</span> -->
                               
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-dataView>
        </p-tabPanel>
        <p-tabPanel header="Retirados">
            Content 2
        </p-tabPanel>
        
    </p-tabView>  

</div>

