/* You can add global styles to this file, and also import other style files */




 html, body {
    padding-top: 0rem; 
    background-color: var(--surface-c);
    font-family: var( --font-family );
   
}

.text-layout {
    color: var( --text-color)
} 

.my-center-text {
    text-align: center;
    width: 100%;    
    }


    